In [11]:
import pandas as pd
import numpy as np
# 파일 경로를 지정하여 데이터프레임으로 읽기
df = pd.read_csv("C:\\Users\\Playdata\\Documents\\my\\SKN06\\2nd_PJ\\app_train.csv")
for idx, col in enumerate(df.columns):
    print(f"Index: {idx}, Column Name: {col}")

Index: 0, Column Name: SK_ID_CURR
Index: 1, Column Name: TARGET
Index: 2, Column Name: NAME_CONTRACT_TYPE
Index: 3, Column Name: CODE_GENDER
Index: 4, Column Name: FLAG_OWN_CAR
Index: 5, Column Name: FLAG_OWN_REALTY
Index: 6, Column Name: CNT_CHILDREN
Index: 7, Column Name: AMT_INCOME_TOTAL
Index: 8, Column Name: AMT_CREDIT
Index: 9, Column Name: AMT_ANNUITY
Index: 10, Column Name: AMT_GOODS_PRICE
Index: 11, Column Name: NAME_TYPE_SUITE
Index: 12, Column Name: NAME_INCOME_TYPE
Index: 13, Column Name: NAME_EDUCATION_TYPE
Index: 14, Column Name: NAME_FAMILY_STATUS
Index: 15, Column Name: NAME_HOUSING_TYPE
Index: 16, Column Name: REGION_POPULATION_RELATIVE
Index: 17, Column Name: DAYS_BIRTH
Index: 18, Column Name: DAYS_EMPLOYED
Index: 19, Column Name: DAYS_REGISTRATION
Index: 20, Column Name: DAYS_ID_PUBLISH
Index: 21, Column Name: OWN_CAR_AGE
Index: 22, Column Name: FLAG_MOBIL
Index: 23, Column Name: FLAG_EMP_PHONE
Index: 24, Column Name: FLAG_WORK_PHONE
Index: 25, Column Name: FLAG_CONT_MOBILE
Index: 26, Column Name: FLAG_PHONE
Index: 27, Column Name: FLAG_EMAIL
Index: 28, Column Name: OCCUPATION_TYPE
Index: 29, Column Name: CNT_FAM_MEMBERS
Index: 30, Column Name: REGION_RATING_CLIENT
Index: 31, Column Name: REGION_RATING_CLIENT_W_CITY
Index: 32, Column Name: WEEKDAY_APPR_PROCESS_START
Index: 33, Column Name: HOUR_APPR_PROCESS_START
Index: 34, Column Name: REG_REGION_NOT_LIVE_REGION
Index: 35, Column Name: REG_REGION_NOT_WORK_REGION
Index: 36, Column Name: LIVE_REGION_NOT_WORK_REGION
Index: 37, Column Name: REG_CITY_NOT_LIVE_CITY
Index: 38, Column Name: REG_CITY_NOT_WORK_CITY
Index: 39, Column Name: LIVE_CITY_NOT_WORK_CITY
Index: 40, Column Name: ORGANIZATION_TYPE
Index: 41, Column Name: EXT_SOURCE_1
Index: 42, Column Name: EXT_SOURCE_2
Index: 43, Column Name: EXT_SOURCE_3
Index: 44, Column Name: APARTMENTS_AVG
Index: 45, Column Name: BASEMENTAREA_AVG
Index: 46, Column Name: YEARS_BEGINEXPLUATATION_AVG
Index: 47, Column Name: YEARS_BUILD_AVG
Index: 48, Column Name: COMMONAREA_AVG
Index: 49, Column Name: ELEVATORS_AVG
Index: 50, Column Name: ENTRANCES_AVG
Index: 51, Column Name: FLOORSMAX_AVG
Index: 52, Column Name: FLOORSMIN_AVG
Index: 53, Column Name: LANDAREA_AVG
Index: 54, Column Name: LIVINGAPARTMENTS_AVG
Index: 55, Column Name: LIVINGAREA_AVG
Index: 56, Column Name: NONLIVINGAPARTMENTS_AVG
Index: 57, Column Name: NONLIVINGAREA_AVG
Index: 58, Column Name: APARTMENTS_MODE
Index: 59, Column Name: BASEMENTAREA_MODE
Index: 60, Column Name: YEARS_BEGINEXPLUATATION_MODE
Index: 61, Column Name: YEARS_BUILD_MODE
Index: 62, Column Name: COMMONAREA_MODE
Index: 63, Column Name: ELEVATORS_MODE
Index: 64, Column Name: ENTRANCES_MODE
Index: 65, Column Name: FLOORSMAX_MODE
Index: 66, Column Name: FLOORSMIN_MODE
Index: 67, Column Name: LANDAREA_MODE
Index: 68, Column Name: LIVINGAPARTMENTS_MODE
Index: 69, Column Name: LIVINGAREA_MODE
Index: 70, Column Name: NONLIVINGAPARTMENTS_MODE
Index: 71, Column Name: NONLIVINGAREA_MODE
Index: 72, Column Name: APARTMENTS_MEDI
Index: 73, Column Name: BASEMENTAREA_MEDI
Index: 74, Column Name: YEARS_BEGINEXPLUATATION_MEDI
Index: 75, Column Name: YEARS_BUILD_MEDI
Index: 76, Column Name: COMMONAREA_MEDI
Index: 77, Column Name: ELEVATORS_MEDI
Index: 78, Column Name: ENTRANCES_MEDI
Index: 79, Column Name: FLOORSMAX_MEDI
Index: 80, Column Name: FLOORSMIN_MEDI
Index: 81, Column Name: LANDAREA_MEDI
Index: 82, Column Name: LIVINGAPARTMENTS_MEDI
Index: 83, Column Name: LIVINGAREA_MEDI
Index: 84, Column Name: NONLIVINGAPARTMENTS_MEDI
Index: 85, Column Name: NONLIVINGAREA_MEDI
Index: 86, Column Name: FONDKAPREMONT_MODE
Index: 87, Column Name: HOUSETYPE_MODE
Index: 88, Column Name: TOTALAREA_MODE
Index: 89, Column Name: WALLSMATERIAL_MODE
Index: 90, Column Name: EMERGENCYSTATE_MODE
Index: 91, Column Name: OBS_30_CNT_SOCIAL_CIRCLE
Index: 92, Column Name: DEF_30_CNT_SOCIAL_CIRCLE
Index: 93, Column Name: OBS_60_CNT_SOCIAL_CIRCLE
Index: 94, Column Name: DEF_60_CNT_SOCIAL_CIRCLE
Index: 95, Column Name: DAYS_LAST_PHONE_CHANGE
Index: 96, Column Name: FLAG_DOCUMENT_2
Index: 97, Column Name: FLAG_DOCUMENT_3
Index: 98, Column Name: FLAG_DOCUMENT_4
Index: 99, Column Name: FLAG_DOCUMENT_5
Index: 100, Column Name: FLAG_DOCUMENT_6
Index: 101, Column Name: FLAG_DOCUMENT_7
Index: 102, Column Name: FLAG_DOCUMENT_8
Index: 103, Column Name: FLAG_DOCUMENT_9
Index: 104, Column Name: FLAG_DOCUMENT_10
Index: 105, Column Name: FLAG_DOCUMENT_11
Index: 106, Column Name: FLAG_DOCUMENT_12
Index: 107, Column Name: FLAG_DOCUMENT_13
Index: 108, Column Name: FLAG_DOCUMENT_14
Index: 109, Column Name: FLAG_DOCUMENT_15
Index: 110, Column Name: FLAG_DOCUMENT_16
Index: 111, Column Name: FLAG_DOCUMENT_17
Index: 112, Column Name: FLAG_DOCUMENT_18
Index: 113, Column Name: FLAG_DOCUMENT_19
Index: 114, Column Name: FLAG_DOCUMENT_20
Index: 115, Column Name: FLAG_DOCUMENT_21
Index: 116, Column Name: AMT_REQ_CREDIT_BUREAU_HOUR
Index: 117, Column Name: AMT_REQ_CREDIT_BUREAU_DAY
Index: 118, Column Name: AMT_REQ_CREDIT_BUREAU_WEEK
Index: 119, Column Name: AMT_REQ_CREDIT_BUREAU_MON
Index: 120, Column Name: AMT_REQ_CREDIT_BUREAU_QRT
Index: 121, Column Name: AMT_REQ_CREDIT_BUREAU_YEAR

In [12]:
df = df.drop(columns = ["COMMONAREA_MEDI", "COMMONAREA_MODE", "NONLIVINGAPARTMENTS_MEDI", "NONLIVINGAPARTMENTS_MODE", "LIVINGAPARTMENTS_MEDI", "LIVINGAPARTMENTS_MODE",
                        "FLOORSMIN_MEDI", "FLOORSMIN_MODE", "YEARS_BUILD_MEDI", "YEARS_BUILD_MODE", "LANDAREA_MEDI", "LANDAREA_MODE", "BASEMENTAREA_MEDI", "BASEMENTAREA_MODE",
                        "NONLIVINGAREA_MEDI", "NONLIVINGAREA_MODE", "ELEVATORS_MEDI", "ELEVATORS_MODE", "APARTMENTS_MEDI", "APARTMENTS_MODE", "ENTRANCES_MEDI", "ENTRANCES_MODE",
                        "LIVINGAREA_MEDI", "LIVINGAREA_MODE", "FLOORSMAX_MEDI", "FLOORSMAX_MODE", "YEARS_BEGINEXPLUATATION_MEDI", "YEARS_BEGINEXPLUATATION_MODE",
                       ])

In [13]:
import numpy as np
from scipy.stats import anderson, shapiro
import warnings

# FutureWarning 방지 설정
warnings.simplefilter(action='ignore', category=FutureWarning)

# 수치형 변수와 범주형 변수 구분
numerical_cols = df.select_dtypes(include=[np.number]).columns
categorical_cols = df.select_dtypes(include=['object']).columns

# 수치형 변수 결측치 처리
for col in numerical_cols:
    # 결측치가 있는 경우에만 진행
    if df[col].isnull().sum() > 0:
        # 샘플 수가 5000을 초과하면 Anderson-Darling 테스트 사용, 그렇지 않으면 Shapiro-Wilk 테스트 사용
        if len(df[col].dropna()) > 5000:
            result = anderson(df[col].dropna(), dist='norm')
            if result.statistic < result.critical_values[2]:
                mean_value = df[col].mean()
                df[col] = df[col].fillna(mean_value).copy()
                print(f"Column '{col}'의 결측치를 평균값으로 대체하였습니다 (Anderson-Darling 테스트 사용).")
            else:
                median_value = df[col].median()
                df[col] = df[col].fillna(median_value).copy()
                print(f"Column '{col}'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).")
        else:
            # 정규성 테스트 (Shapiro-Wilk Test 사용)
            stat, p = shapiro(df[col].dropna())
            # p-value가 0.05보다 크다면 데이터가 정규분포를 따를 가능성이 높다고 판단하여 평균값으로 대체
            if p > 0.05:
                mean_value = df[col].mean()
                df[col] = df[col].fillna(mean_value).copy()
                print(f"Column '{col}'의 결측치를 평균값으로 대체하였습니다.")
            else:
                # 정규분포가 아니거나 이상치가 많은 경우 중앙값으로 대체
                median_value = df[col].median()
                df[col] = df[col].fillna(median_value).copy()
                print(f"Column '{col}'의 결측치를 중앙값으로 대체하였습니다.")

# 범주형 변수 결측치 처리
for col in categorical_cols:
    # 결측치가 있는 경우 최빈값으로 대체
    if df[col].isnull().sum() > 0:
        mode_value = df[col].mode()[0]
        df[col] = df[col].fillna(mode_value).copy()
        print(f"Column '{col}'의 결측치를 최빈값으로 대체하였습니다.")

Column 'AMT_ANNUITY'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'AMT_GOODS_PRICE'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'OWN_CAR_AGE'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'CNT_FAM_MEMBERS'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'EXT_SOURCE_1'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'EXT_SOURCE_2'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'EXT_SOURCE_3'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'APARTMENTS_AVG'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'BASEMENTAREA_AVG'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'YEARS_BEGINEXPLUATATION_AVG'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'YEARS_BUILD_AVG'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'COMMONAREA_AVG'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'ELEVATORS_AVG'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'ENTRANCES_AVG'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'FLOORSMAX_AVG'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'FLOORSMIN_AVG'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'LANDAREA_AVG'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'LIVINGAPARTMENTS_AVG'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'LIVINGAREA_AVG'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'NONLIVINGAPARTMENTS_AVG'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'NONLIVINGAREA_AVG'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'TOTALAREA_MODE'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'OBS_30_CNT_SOCIAL_CIRCLE'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'DEF_30_CNT_SOCIAL_CIRCLE'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'OBS_60_CNT_SOCIAL_CIRCLE'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'DEF_60_CNT_SOCIAL_CIRCLE'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'DAYS_LAST_PHONE_CHANGE'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'AMT_REQ_CREDIT_BUREAU_HOUR'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'AMT_REQ_CREDIT_BUREAU_DAY'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'AMT_REQ_CREDIT_BUREAU_WEEK'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'AMT_REQ_CREDIT_BUREAU_MON'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'AMT_REQ_CREDIT_BUREAU_QRT'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'AMT_REQ_CREDIT_BUREAU_YEAR'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'NAME_TYPE_SUITE'의 결측치를 최빈값으로 대체하였습니다.
Column 'OCCUPATION_TYPE'의 결측치를 최빈값으로 대체하였습니다.
Column 'FONDKAPREMONT_MODE'의 결측치를 최빈값으로 대체하였습니다.
Column 'HOUSETYPE_MODE'의 결측치를 최빈값으로 대체하였습니다.
Column 'WALLSMATERIAL_MODE'의 결측치를 최빈값으로 대체하였습니다.
Column 'EMERGENCYSTATE_MODE'의 결측치를 최빈값으로 대체하였습니다.

In [14]:
import pandas as pd

def find_outliers_and_replace(df, whis=1.5):
    """
    주어진 데이터프레임에서 숫자형 열들에 대해 IQR 방식을 통해 이상치를 찾아
    이상치 값을 최소 또는 최대 허용 범위 값으로 대체하는 함수
    
    Parameters:
    - df: 데이터프레임
    - whis: IQR의 배수로, 기본값은 1.5
    
    Returns:
    - 이상치가 대체된 데이터프레임
    """
    # 숫자형 열만 선택
    numeric_columns = df.select_dtypes(include='number').columns
    
    for column_name in numeric_columns:
        # 1사분위수(Q1)와 3사분위수(Q3) 계산
        q1, q3 = df[column_name].quantile([0.25, 0.75])
        iqr = q3 - q1

        # 하한과 상한 계산
        lower_bound = q1 - iqr * whis
        upper_bound = q3 + iqr * whis

        # 이상치를 하한과 상한으로 대체
        df[column_name] = df[column_name].apply(lambda x: lower_bound if x < lower_bound else (upper_bound if x > upper_bound else x))
    
    return df

In [15]:
from sklearn.preprocessing import LabelEncoder

# 원본 데이터프레임 컬럼 수
original_column_count = df.shape[1]

# 범주형 및 True/False 컬럼 선택
categorical_columns = df.select_dtypes(include=['object', 'category', 'bool']).columns

# 클래스가 2개인 컬럼에는 Label Encoding, 3개 이상인 컬럼에는 One-Hot Encoding
for col in categorical_columns:
    unique_classes = df[col].nunique()  # 해당 컬럼의 클래스 개수 확인
    if unique_classes == 2:
        # Label Encoding 적용
        le = LabelEncoder()
        df[col] = le.fit_transform(df[col])
    elif unique_classes > 2:
        # One-Hot Encoding 적용
        df = pd.get_dummies(df, columns=[col], prefix=col)

df.head(10)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,HOUSETYPE_MODE_block of flats,HOUSETYPE_MODE_specific housing,HOUSETYPE_MODE_terraced house,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden
0,100002,1,0,0,1,0,202500.0,406597.5,24700.5,351000.0,...,True,False,False,False,False,False,False,False,True,False
1,100003,0,0,0,0,0,270000.0,1293502.5,35698.5,1129500.0,...,True,False,False,True,False,False,False,False,False,False
2,100004,0,1,1,1,0,67500.0,135000.0,6750.0,135000.0,...,True,False,False,False,False,False,False,True,False,False
3,100006,0,0,0,1,0,135000.0,312682.5,29686.5,297000.0,...,True,False,False,False,False,False,False,True,False,False
4,100007,0,0,0,1,0,121500.0,513000.0,21865.5,513000.0,...,True,False,False,False,False,False,False,True,False,False
5,100008,0,0,0,1,0,99000.0,490495.5,27517.5,454500.0,...,True,False,False,False,False,False,False,True,False,False
6,100009,0,0,1,1,1,171000.0,1560726.0,41301.0,1395000.0,...,True,False,False,False,False,False,False,True,False,False
7,100010,0,0,1,1,0,360000.0,1530000.0,42075.0,1530000.0,...,True,False,False,False,False,False,False,True,False,False
8,100011,0,0,0,1,0,112500.0,1019610.0,33826.5,913500.0,...,True,False,False,False,False,False,False,True,False,False
9,100012,0,1,0,1,0,135000.0,405000.0,20250.0,405000.0,...,True,False,False,False,False,False,False,True,False,False

In [16]:
df.to_csv("data.csv", index=False)

In [17]:
df.shape

(307511, 214)