In [ ]:
!pip install gdown

In [ ]:
import gdown
gdown.download('https://drive.google.com/uc?id=1yThAC-VoMRVDUu7GWCGO8uVhxWF6w5q2', 'train.csv', quiet=False)

In [1]:
import pandas as pd
train_path = 'train.csv'
df = pd.read_csv(train_path)

# df

In [2]:
# 모든 컬럼명 출력
# print(df.columns.tolist())
print(len(df.columns))

122

In [4]:
!pip install scipy

Collecting scipy
  Using cached scipy-1.14.1-cp312-cp312-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: numpy<2.3,>=1.23.5 in c:\users\samsung\miniconda3\envs\ml\lib\site-packages (from scipy) (2.1.2)
Using cached scipy-1.14.1-cp312-cp312-win_amd64.whl (44.5 MB)
Installing collected packages: scipy
Successfully installed scipy-1.14.1

In [5]:
from scipy.stats import anderson, shapiro
import warnings
import numpy as np

# FutureWarning 방지 설정
warnings.simplefilter(action='ignore', category=FutureWarning)

# 수치형 변수와 범주형 변수 구분
numerical_cols = df.select_dtypes(include=[np.number]).columns
categorical_cols = df.select_dtypes(include=['object']).columns

# 수치형 변수 결측치 처리
for col in numerical_cols:
    # 결측치가 있는 경우에만 진행
    if df[col].isnull().sum() > 0:
        # 샘플 수가 5000을 초과하면 Anderson-Darling 테스트 사용, 그렇지 않으면 Shapiro-Wilk 테스트 사용
        if len(df[col].dropna()) > 5000:
            result = anderson(df[col].dropna(), dist='norm')
            if result.statistic < result.critical_values[2]:
                mean_value = df[col].mean()
                df[col] = df[col].fillna(mean_value).copy()
                print(f"Column '{col}'의 결측치를 평균값으로 대체하였습니다 (Anderson-Darling 테스트 사용).")
            else:
                median_value = df[col].median()
                df[col] = df[col].fillna(median_value).copy()
                print(f"Column '{col}'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).")
        else:
            # 정규성 테스트 (Shapiro-Wilk Test 사용)
            stat, p = shapiro(df[col].dropna())
            # p-value가 0.05보다 크다면 데이터가 정규분포를 따를 가능성이 높다고 판단하여 평균값으로 대체
            if p > 0.05:
                mean_value = df[col].mean()
                df[col] = df[col].fillna(mean_value).copy()
                print(f"Column '{col}'의 결측치를 평균값으로 대체하였습니다.")
            else:
                # 정규분포가 아니거나 이상치가 많은 경우 중앙값으로 대체
                median_value = df[col].median()
                df[col] = df[col].fillna(median_value).copy()
                print(f"Column '{col}'의 결측치를 중앙값으로 대체하였습니다.")

# 범주형 변수 결측치 처리
for col in categorical_cols:
    # 결측치가 있는 경우 최빈값으로 대체
    if df[col].isnull().sum() > 0:
        mode_value = df[col].mode()[0]
        df[col] = df[col].fillna(mode_value).copy()
        print(f"Column '{col}'의 결측치를 최빈값으로 대체하였습니다.")

Column 'AMT_ANNUITY'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'AMT_GOODS_PRICE'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'OWN_CAR_AGE'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'CNT_FAM_MEMBERS'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'EXT_SOURCE_1'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'EXT_SOURCE_2'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'EXT_SOURCE_3'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'APARTMENTS_AVG'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'BASEMENTAREA_AVG'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'YEARS_BEGINEXPLUATATION_AVG'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'YEARS_BUILD_AVG'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'COMMONAREA_AVG'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'ELEVATORS_AVG'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'ENTRANCES_AVG'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'FLOORSMAX_AVG'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'FLOORSMIN_AVG'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'LANDAREA_AVG'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'LIVINGAPARTMENTS_AVG'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'LIVINGAREA_AVG'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'NONLIVINGAPARTMENTS_AVG'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'NONLIVINGAREA_AVG'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'APARTMENTS_MODE'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'BASEMENTAREA_MODE'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'YEARS_BEGINEXPLUATATION_MODE'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'YEARS_BUILD_MODE'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'COMMONAREA_MODE'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'ELEVATORS_MODE'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'ENTRANCES_MODE'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'FLOORSMAX_MODE'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'FLOORSMIN_MODE'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'LANDAREA_MODE'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'LIVINGAPARTMENTS_MODE'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'LIVINGAREA_MODE'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'NONLIVINGAPARTMENTS_MODE'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'NONLIVINGAREA_MODE'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'APARTMENTS_MEDI'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'BASEMENTAREA_MEDI'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'YEARS_BEGINEXPLUATATION_MEDI'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'YEARS_BUILD_MEDI'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'COMMONAREA_MEDI'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'ELEVATORS_MEDI'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'ENTRANCES_MEDI'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'FLOORSMAX_MEDI'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'FLOORSMIN_MEDI'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'LANDAREA_MEDI'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'LIVINGAPARTMENTS_MEDI'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'LIVINGAREA_MEDI'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'NONLIVINGAPARTMENTS_MEDI'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'NONLIVINGAREA_MEDI'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'TOTALAREA_MODE'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'OBS_30_CNT_SOCIAL_CIRCLE'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'DEF_30_CNT_SOCIAL_CIRCLE'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'OBS_60_CNT_SOCIAL_CIRCLE'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'DEF_60_CNT_SOCIAL_CIRCLE'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'DAYS_LAST_PHONE_CHANGE'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'AMT_REQ_CREDIT_BUREAU_HOUR'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'AMT_REQ_CREDIT_BUREAU_DAY'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'AMT_REQ_CREDIT_BUREAU_WEEK'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'AMT_REQ_CREDIT_BUREAU_MON'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'AMT_REQ_CREDIT_BUREAU_QRT'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'AMT_REQ_CREDIT_BUREAU_YEAR'의 결측치를 중앙값으로 대체하였습니다 (Anderson-Darling 테스트 사용).
Column 'NAME_TYPE_SUITE'의 결측치를 최빈값으로 대체하였습니다.
Column 'OCCUPATION_TYPE'의 결측치를 최빈값으로 대체하였습니다.
Column 'FONDKAPREMONT_MODE'의 결측치를 최빈값으로 대체하였습니다.
Column 'HOUSETYPE_MODE'의 결측치를 최빈값으로 대체하였습니다.
Column 'WALLSMATERIAL_MODE'의 결측치를 최빈값으로 대체하였습니다.
Column 'EMERGENCYSTATE_MODE'의 결측치를 최빈값으로 대체하였습니다.

In [6]:
# 결측치가 남아 있는지 확인
print("Remaining missing values:\n", df.isnull().sum().sort_values(ascending=False))

Remaining missing values:
 SK_ID_CURR                    0
TARGET                        0
NAME_CONTRACT_TYPE            0
CODE_GENDER                   0
FLAG_OWN_CAR                  0
                             ..
AMT_REQ_CREDIT_BUREAU_DAY     0
AMT_REQ_CREDIT_BUREAU_WEEK    0
AMT_REQ_CREDIT_BUREAU_MON     0
AMT_REQ_CREDIT_BUREAU_QRT     0
AMT_REQ_CREDIT_BUREAU_YEAR    0
Length: 122, dtype: int64

In [7]:
# 이상치 처리 과정 (TARGET 변수 제외)
def find_outliers_and_replace(df, whis=1.5):
    numeric_columns = df.select_dtypes(include='number').columns.drop('TARGET')
    for column_name in numeric_columns:
        q1, q3 = df[column_name].quantile([0.25, 0.75])
        iqr = q3 - q1
        lower_bound = q1 - iqr * whis
        upper_bound = q3 + iqr * whis
        # 이상치 값 대체
        df.loc[df[column_name] < lower_bound, column_name] = lower_bound
        df.loc[df[column_name] > upper_bound, column_name] = upper_bound
        print(f"Column '{column_name}'의 이상치를 하한 {lower_bound} 및 상한 {upper_bound}으로 대체하였습니다.")
    return df

df = find_outliers_and_replace(df)

Column 'SK_ID_CURR'의 이상치를 하한 -77850.0 및 상한 634138.0으로 대체하였습니다.
Column 'CNT_CHILDREN'의 이상치를 하한 -1.5 및 상한 2.5으로 대체하였습니다.
Column 'AMT_INCOME_TOTAL'의 이상치를 하한 -22500.0 및 상한 337500.0으로 대체하였습니다.
Column 'AMT_CREDIT'의 이상치를 하한 -537975.0 및 상한 1616625.0으로 대체하였습니다.
Column 'AMT_ANNUITY'의 이상치를 하한 -10584.0 및 상한 61704.0으로 대체하였습니다.
Column 'AMT_GOODS_PRICE'의 이상치를 하한 -423000.0 및 상한 1341000.0으로 대체하였습니다.
Column 'REGION_POPULATION_RELATIVE'의 이상치를 하한 -0.017979500000000002 및 상한 0.056648500000000004으로 대체하였습니다.
Column 'DAYS_BIRTH'의 이상치를 하한 -30585.5 및 상한 -1509.5으로 대체하였습니다.
Column 'DAYS_EMPLOYED'의 이상치를 하한 -6466.5 및 상한 3417.5으로 대체하였습니다.
Column 'DAYS_REGISTRATION'의 이상치를 하한 -15683.75 및 상한 6194.25으로 대체하였습니다.
Column 'DAYS_ID_PUBLISH'의 이상치를 하한 -8167.5 및 상한 2148.5으로 대체하였습니다.
Column 'OWN_CAR_AGE'의 이상치를 하한 9.0 및 상한 9.0으로 대체하였습니다.
Column 'FLAG_MOBIL'의 이상치를 하한 1.0 및 상한 1.0으로 대체하였습니다.
Column 'FLAG_EMP_PHONE'의 이상치를 하한 1.0 및 상한 1.0으로 대체하였습니다.
Column 'FLAG_WORK_PHONE'의 이상치를 하한 0.0 및 상한 0.0으로 대체하였습니다.
Column 'FLAG_CONT_MOBILE'의 이상치를 하한 1.0 및 상한 1.0으로 대체하였습니다.
Column 'FLAG_PHONE'의 이상치를 하한 -1.5 및 상한 2.5으로 대체하였습니다.
Column 'FLAG_EMAIL'의 이상치를 하한 0.0 및 상한 0.0으로 대체하였습니다.
Column 'CNT_FAM_MEMBERS'의 이상치를 하한 0.5 및 상한 4.5으로 대체하였습니다.
Column 'REGION_RATING_CLIENT'의 이상치를 하한 2.0 및 상한 2.0으로 대체하였습니다.
Column 'REGION_RATING_CLIENT_W_CITY'의 이상치를 하한 2.0 및 상한 2.0으로 대체하였습니다.
Column 'HOUR_APPR_PROCESS_START'의 이상치를 하한 4.0 및 상한 20.0으로 대체하였습니다.
Column 'REG_REGION_NOT_LIVE_REGION'의 이상치를 하한 0.0 및 상한 0.0으로 대체하였습니다.
Column 'REG_REGION_NOT_WORK_REGION'의 이상치를 하한 0.0 및 상한 0.0으로 대체하였습니다.
Column 'LIVE_REGION_NOT_WORK_REGION'의 이상치를 하한 0.0 및 상한 0.0으로 대체하였습니다.
Column 'REG_CITY_NOT_LIVE_CITY'의 이상치를 하한 0.0 및 상한 0.0으로 대체하였습니다.
Column 'REG_CITY_NOT_WORK_CITY'의 이상치를 하한 0.0 및 상한 0.0으로 대체하였습니다.
Column 'LIVE_CITY_NOT_WORK_CITY'의 이상치를 하한 0.0 및 상한 0.0으로 대체하였습니다.
Column 'EXT_SOURCE_1'의 이상치를 하한 0.5059979305057544 및 상한 0.5059979305057544으로 대체하였습니다.
Column 'EXT_SOURCE_2'의 이상치를 하한 -0.012698400911027807 및 상한 1.069093924193535으로 대체하였습니다.
Column 'EXT_SOURCE_3'의 이상치를 하한 0.08818491400145828 및 상한 0.9652909253367954으로 대체하였습니다.
Column 'APARTMENTS_AVG'의 이상치를 하한 0.0876 및 상한 0.0876으로 대체하였습니다.
Column 'BASEMENTAREA_AVG'의 이상치를 하한 0.0763 및 상한 0.0763으로 대체하였습니다.
Column 'YEARS_BEGINEXPLUATATION_AVG'의 이상치를 하한 0.9808500000000001 및 상한 0.9828499999999999으로 대체하였습니다.
Column 'YEARS_BUILD_AVG'의 이상치를 하한 0.7552 및 상한 0.7552으로 대체하였습니다.
Column 'COMMONAREA_AVG'의 이상치를 하한 0.0211 및 상한 0.0211으로 대체하였습니다.
Column 'ELEVATORS_AVG'의 이상치를 하한 0.0 및 상한 0.0으로 대체하였습니다.
Column 'ENTRANCES_AVG'의 이상치를 하한 0.1379 및 상한 0.1379으로 대체하였습니다.
Column 'FLOORSMAX_AVG'의 이상치를 하한 0.1667 및 상한 0.1667으로 대체하였습니다.
Column 'FLOORSMIN_AVG'의 이상치를 하한 0.2083 및 상한 0.2083으로 대체하였습니다.
Column 'LANDAREA_AVG'의 이상치를 하한 0.0481 및 상한 0.0481으로 대체하였습니다.
Column 'LIVINGAPARTMENTS_AVG'의 이상치를 하한 0.0756 및 상한 0.0756으로 대체하였습니다.
Column 'LIVINGAREA_AVG'의 이상치를 하한 0.0745 및 상한 0.0745으로 대체하였습니다.
Column 'NONLIVINGAPARTMENTS_AVG'의 이상치를 하한 0.0 및 상한 0.0으로 대체하였습니다.
Column 'NONLIVINGAREA_AVG'의 이상치를 하한 0.0036 및 상한 0.0036으로 대체하였습니다.
Column 'APARTMENTS_MODE'의 이상치를 하한 0.084 및 상한 0.084으로 대체하였습니다.
Column 'BASEMENTAREA_MODE'의 이상치를 하한 0.0746 및 상한 0.0746으로 대체하였습니다.
Column 'YEARS_BEGINEXPLUATATION_MODE'의 이상치를 하한 0.9803499999999998 및 상한 0.9823500000000001으로 대체하였습니다.
Column 'YEARS_BUILD_MODE'의 이상치를 하한 0.7648 및 상한 0.7648으로 대체하였습니다.
Column 'COMMONAREA_MODE'의 이상치를 하한 0.019 및 상한 0.019으로 대체하였습니다.
Column 'ELEVATORS_MODE'의 이상치를 하한 0.0 및 상한 0.0으로 대체하였습니다.
Column 'ENTRANCES_MODE'의 이상치를 하한 0.1379 및 상한 0.1379으로 대체하였습니다.
Column 'FLOORSMAX_MODE'의 이상치를 하한 0.1667 및 상한 0.1667으로 대체하였습니다.
Column 'FLOORSMIN_MODE'의 이상치를 하한 0.2083 및 상한 0.2083으로 대체하였습니다.
Column 'LANDAREA_MODE'의 이상치를 하한 0.0458 및 상한 0.0458으로 대체하였습니다.
Column 'LIVINGAPARTMENTS_MODE'의 이상치를 하한 0.0771 및 상한 0.0771으로 대체하였습니다.
Column 'LIVINGAREA_MODE'의 이상치를 하한 0.0731 및 상한 0.0731으로 대체하였습니다.
Column 'NONLIVINGAPARTMENTS_MODE'의 이상치를 하한 0.0 및 상한 0.0으로 대체하였습니다.
Column 'NONLIVINGAREA_MODE'의 이상치를 하한 0.0011 및 상한 0.0011으로 대체하였습니다.
Column 'APARTMENTS_MEDI'의 이상치를 하한 0.0864 및 상한 0.0864으로 대체하였습니다.
Column 'BASEMENTAREA_MEDI'의 이상치를 하한 0.0758 및 상한 0.0758으로 대체하였습니다.
Column 'YEARS_BEGINEXPLUATATION_MEDI'의 이상치를 하한 0.9808500000000001 및 상한 0.9828499999999999으로 대체하였습니다.
Column 'YEARS_BUILD_MEDI'의 이상치를 하한 0.7585 및 상한 0.7585으로 대체하였습니다.
Column 'COMMONAREA_MEDI'의 이상치를 하한 0.0208 및 상한 0.0208으로 대체하였습니다.
Column 'ELEVATORS_MEDI'의 이상치를 하한 0.0 및 상한 0.0으로 대체하였습니다.
Column 'ENTRANCES_MEDI'의 이상치를 하한 0.1379 및 상한 0.1379으로 대체하였습니다.
Column 'FLOORSMAX_MEDI'의 이상치를 하한 0.1667 및 상한 0.1667으로 대체하였습니다.
Column 'FLOORSMIN_MEDI'의 이상치를 하한 0.2083 및 상한 0.2083으로 대체하였습니다.
Column 'LANDAREA_MEDI'의 이상치를 하한 0.0487 및 상한 0.0487으로 대체하였습니다.
Column 'LIVINGAPARTMENTS_MEDI'의 이상치를 하한 0.0761 및 상한 0.0761으로 대체하였습니다.
Column 'LIVINGAREA_MEDI'의 이상치를 하한 0.0749 및 상한 0.0749으로 대체하였습니다.
Column 'NONLIVINGAPARTMENTS_MEDI'의 이상치를 하한 0.0 및 상한 0.0으로 대체하였습니다.
Column 'NONLIVINGAREA_MEDI'의 이상치를 하한 0.0031 및 상한 0.0031으로 대체하였습니다.
Column 'TOTALAREA_MODE'의 이상치를 하한 0.06205000000000001 및 상한 0.07525으로 대체하였습니다.
Column 'OBS_30_CNT_SOCIAL_CIRCLE'의 이상치를 하한 -3.0 및 상한 5.0으로 대체하였습니다.
Column 'DEF_30_CNT_SOCIAL_CIRCLE'의 이상치를 하한 0.0 및 상한 0.0으로 대체하였습니다.
Column 'OBS_60_CNT_SOCIAL_CIRCLE'의 이상치를 하한 -3.0 및 상한 5.0으로 대체하였습니다.
Column 'DEF_60_CNT_SOCIAL_CIRCLE'의 이상치를 하한 0.0 및 상한 0.0으로 대체하였습니다.
Column 'DAYS_LAST_PHONE_CHANGE'의 이상치를 하한 -3514.0 및 상한 1670.0으로 대체하였습니다.
Column 'FLAG_DOCUMENT_2'의 이상치를 하한 0.0 및 상한 0.0으로 대체하였습니다.
Column 'FLAG_DOCUMENT_3'의 이상치를 하한 -1.5 및 상한 2.5으로 대체하였습니다.
Column 'FLAG_DOCUMENT_4'의 이상치를 하한 0.0 및 상한 0.0으로 대체하였습니다.
Column 'FLAG_DOCUMENT_5'의 이상치를 하한 0.0 및 상한 0.0으로 대체하였습니다.
Column 'FLAG_DOCUMENT_6'의 이상치를 하한 0.0 및 상한 0.0으로 대체하였습니다.
Column 'FLAG_DOCUMENT_7'의 이상치를 하한 0.0 및 상한 0.0으로 대체하였습니다.
Column 'FLAG_DOCUMENT_8'의 이상치를 하한 0.0 및 상한 0.0으로 대체하였습니다.
Column 'FLAG_DOCUMENT_9'의 이상치를 하한 0.0 및 상한 0.0으로 대체하였습니다.
Column 'FLAG_DOCUMENT_10'의 이상치를 하한 0.0 및 상한 0.0으로 대체하였습니다.
Column 'FLAG_DOCUMENT_11'의 이상치를 하한 0.0 및 상한 0.0으로 대체하였습니다.
Column 'FLAG_DOCUMENT_12'의 이상치를 하한 0.0 및 상한 0.0으로 대체하였습니다.
Column 'FLAG_DOCUMENT_13'의 이상치를 하한 0.0 및 상한 0.0으로 대체하였습니다.
Column 'FLAG_DOCUMENT_14'의 이상치를 하한 0.0 및 상한 0.0으로 대체하였습니다.
Column 'FLAG_DOCUMENT_15'의 이상치를 하한 0.0 및 상한 0.0으로 대체하였습니다.
Column 'FLAG_DOCUMENT_16'의 이상치를 하한 0.0 및 상한 0.0으로 대체하였습니다.
Column 'FLAG_DOCUMENT_17'의 이상치를 하한 0.0 및 상한 0.0으로 대체하였습니다.
Column 'FLAG_DOCUMENT_18'의 이상치를 하한 0.0 및 상한 0.0으로 대체하였습니다.
Column 'FLAG_DOCUMENT_19'의 이상치를 하한 0.0 및 상한 0.0으로 대체하였습니다.
Column 'FLAG_DOCUMENT_20'의 이상치를 하한 0.0 및 상한 0.0으로 대체하였습니다.
Column 'FLAG_DOCUMENT_21'의 이상치를 하한 0.0 및 상한 0.0으로 대체하였습니다.
Column 'AMT_REQ_CREDIT_BUREAU_HOUR'의 이상치를 하한 0.0 및 상한 0.0으로 대체하였습니다.
Column 'AMT_REQ_CREDIT_BUREAU_DAY'의 이상치를 하한 0.0 및 상한 0.0으로 대체하였습니다.
Column 'AMT_REQ_CREDIT_BUREAU_WEEK'의 이상치를 하한 0.0 및 상한 0.0으로 대체하였습니다.
Column 'AMT_REQ_CREDIT_BUREAU_MON'의 이상치를 하한 0.0 및 상한 0.0으로 대체하였습니다.
Column 'AMT_REQ_CREDIT_BUREAU_QRT'의 이상치를 하한 0.0 및 상한 0.0으로 대체하였습니다.
Column 'AMT_REQ_CREDIT_BUREAU_YEAR'의 이상치를 하한 -2.0 및 상한 6.0으로 대체하였습니다.

In [8]:
df.head(10)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0.0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0.0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0.0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0.0,135000.0,312682.5,29686.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
4,100007,0,Cash loans,M,N,Y,0.0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
5,100008,0,Cash loans,M,N,Y,0.0,99000.0,490495.5,27517.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
6,100009,0,Cash loans,F,Y,Y,1.0,171000.0,1560726.0,41301.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
7,100010,0,Cash loans,M,Y,Y,0.0,337500.0,1530000.0,42075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
8,100011,0,Cash loans,F,N,Y,0.0,112500.0,1019610.0,33826.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
9,100012,0,Revolving loans,M,N,Y,0.0,135000.0,405000.0,20250.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0

In [9]:
df.shape

(307511, 122)

In [14]:
!pip install scikit_learn

Collecting scikit_learn
  Using cached scikit_learn-1.5.2-cp312-cp312-win_amd64.whl.metadata (13 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\samsung\miniconda3\envs\ml\lib\site-packages (from scikit_learn) (2.1.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\samsung\miniconda3\envs\ml\lib\site-packages (from scikit_learn) (1.14.1)
Collecting joblib>=1.2.0 (from scikit_learn)
  Using cached joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit_learn)
  Using cached threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Using cached scikit_learn-1.5.2-cp312-cp312-win_amd64.whl (11.0 MB)
Using cached joblib-1.4.2-py3-none-any.whl (301 kB)
Using cached threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, joblib, scikit_learn
Successfully installed joblib-1.4.2 scikit_learn-1.5.2 threadpoolctl-3.5.0

In [15]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

# 원본 데이터프레임 컬럼 수
original_column_count = df.shape[1]

# 범주형 및 True/False 컬럼 선택
categorical_columns = df.select_dtypes(include=['object', 'category']).columns
bool_columns = df.select_dtypes(include='bool').columns

# 클래스가 2개인 컬럼에는 Label Encoding, 3개 이상인 컬럼에는 One-Hot Encoding
for col in categorical_columns:
    unique_classes = df[col].nunique()  # 해당 컬럼의 클래스 개수 확인
    if unique_classes == 2:
        # Label Encoding 적용
        le = LabelEncoder()
        df[col] = le.fit_transform(df[col])
    elif unique_classes > 2:
        # One-Hot Encoding 적용 후 생성된 컬럼에 대해 Label Encoding 적용
        df = pd.get_dummies(df, columns=[col], prefix=col)

# bool 타입 컬럼을 0과 1로 변환
for col in bool_columns:
    df[col] = df[col].astype(int)

# One-Hot Encoding 후 새로 생긴 컬럼 선택 (prefix 기반으로 선택할 수 있음)
onehot_encoded_columns = [col for col in df.columns if '_' in col]

# One-Hot Encoding 후 생성된 컬럼들에 Label Encoding 적용
for col in onehot_encoded_columns:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])

# 인코딩 후 증가된 컬럼 수 계산
new_column_count = df.shape[1]
added_columns = new_column_count - original_column_count

# 결과 출력
print(f"Number of added columns after encoding: {added_columns}")
print("Top 10 rows of the encoded dataframe:")
df.head(10)

Number of added columns after encoding: 120
Top 10 rows of the encoded dataframe:

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,HOUSETYPE_MODE_block of flats,HOUSETYPE_MODE_specific housing,HOUSETYPE_MODE_terraced house,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden
0,0,1,0,0,1,0,1754,1191,4588,189,...,1,0,0,0,0,0,0,0,1,0
1,1,0,0,0,0,0,2064,4338,6985,704,...,1,0,0,1,0,0,0,0,0,0
2,2,0,1,1,1,0,338,228,662,30,...,1,0,0,0,0,0,0,1,0,0
3,3,0,0,0,1,0,1170,836,5680,145,...,1,0,0,0,0,0,0,1,0,0
4,4,0,0,0,1,0,1019,1635,3960,352,...,1,0,0,0,0,0,0,1,0,0
5,5,0,0,0,1,0,719,1533,5208,294,...,1,0,0,0,0,0,0,1,0,0
6,6,0,0,1,1,1,1519,4882,8167,780,...,1,0,0,0,0,0,0,1,0,0
7,7,0,0,1,1,0,2209,4836,8324,780,...,1,0,0,0,0,0,0,1,0,0
8,8,0,0,0,1,0,904,3471,6582,621,...,1,0,0,0,0,0,0,1,0,0
9,9,0,1,0,1,0,1170,1185,3603,241,...,1,0,0,0,0,0,0,1,0,0

In [16]:
df.shape

(307511, 242)

In [17]:
df.to_csv('trainset.csv', index=False)